<% if @author != nil%>
  <h2>Title: <%= @author.title %></h2>
  <h3>Genre: <%= @author.genre %></h3>
<br>
<h3>Edit author:</h3>
  <form action="/authors/<%= @author.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label for ="title">Edit title:</label>
    <input id="title" name="title" type="text" value="<%= @author.title %>" required>
    <br>
    <label for ="genre">Edit genre:</label>
    <input id="genre" name="genre" type="text" value="<%= @author.genre %>" required>
    <br>
    <button type="submit">Edit author!</button>
  </form>
<% else %>
  <p> This author does not exist.</p>
<% end %>

<a href="/">Back</a>
