<% if @book != nil%>
  <h2>Title: <%= @book.title %></h2>
  <h3>Genre: <%= @book.genre %></h3>
<br>
<h3>Edit book:</h3>
  <form action="/books/<%= @book.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label for ="title">Edit title:</label>
    <input id="title" name="title" type="text" value="<%= @book.title %>" required>
    <br>
    <label for ="genre">Edit genre:</label>
    <input id="genre" name="genre" type="text" value="<%= @book.genre %>" required>
    <br>
    <button type="submit">Edit book!</button>
  </form>

  <% if @authors != nil%>
  <ul>
    <% @authors.each do |author| %>
      <li><a href="/authors/<%= author.id %>"><%= author.last_name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no books to display for this author. </p>
<% end %>

<br>
<h4>Add an author:</h4>
<form action="/books/<%= @book.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="first_name">First name:</label>
    <input id="first_name" name="first_name" class="form-control" type="text" placeholder="First name">
    <label for="last_name">Last name:</label>
    <input id="last_name" name="last_name" class="form-control" type="text" placeholder="Last name">
  </div>
  <button type="submit" class="btn">Add!</button>
</form>


<h4>Checkout Book:</h4>
<form action="/books/<%= @book.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="patron_first">Patron First Name:</label>
    <input id="patron_first" name="patron_first" class="form-control" type="text" placeholder="First name">
    <label for="patron_last">Patron Last name:</label>
    <input id="patron_last" name="patron_last" class="form-control" type="text" placeholder="Last name">
  </div>
  <button type="submit" class="btn">Checkout book!</button>
</form>


<% else %>
  <p> This book does not exist.</p>
<% end %>

<form action="/books/<%= @book.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete book</button>
</form>
<br>
<a href="/books">Back</a><br>
<a href="/">Home</a>
